#main {
    max-height: 50vh;
}
#datacanvas {
    border: 1px solid black;
    width: 70vh;
    height: 70vh;
}

.myclass {
    border: 0cap;
}

#visualization {
    width: 55vh;
    height: 70vh;
    border: 1px solid lightgray;
}

#nodeCanvas {
    width: 15vh;
    height: 70vh;
}
